build*
log/*.INFO
log/*.INFO.*
log/*.WARNING
log/*.WARNING.*
log/*.ERROR
log/*.ERROR.*
log/*.FATAL
log/*.FATAL.*
log/lux*.log
log/scala*.log
*.orig
*~
*.DS_Store
*.user
.project
.cproject
.settings*
*.DS_store
*.backup
*.vscode
tags
.install
ceres-solver-*/
